.categories-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
}

.text-center {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.text-center h2 {
  font-size: var(--h3-font);
  letter-spacing: 5px;
  background: -webkit-linear-gradient(50deg, #dd2576, #ff521f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categories-content {
  height: 500px;
  width: 1920px;
  display: grid;
  padding: 30px;
  grid-gap: 15px;
  grid-template-areas: 'a b c';
}

.categories-container div:nth-child(1) {
  grid-area: a;
}

.categories-container div:nth-child(2) {
  grid-area: b;
}

.categories-container div:nth-child(3) {
  grid-area: c;
}
